In [3]:
from utils.minio_client import MinIOConnector
import sys

In [4]:
try:
    minio = MinIOConnector()
except Exception as e:
    print(e)

In [5]:
bucket = "bronze"
file_key = "oracle_data/2504_TC_ABB_FILE/2025_12_01_1764579501178_0.parquet"

In [6]:
try:
    df = minio.read_parquet(bucket, file_key)
    print("\n --- Preview Data ---")
    print(df.head())
except Exception as e:
    print(e)

2025-12-01 16:33:59,508 - INFO - üîÑ ƒêang b·∫Øt ƒë·∫ßu ƒë·ªçc file: s3://bronze/oracle_data/2504_TC_ABB_FILE/2025_12_01_1764579501178_0.parquet
2025-12-01 16:33:59,859 - INFO - ‚úÖ ƒê·ªçc th√†nh c√¥ng! K√≠ch th∆∞·ªõc: (54, 16)

 --- Preview Data ---
                        _airbyte_raw_id            _airbyte_extracted_at  \
0  019ad922-8947-735a-acbf-a8b258ccea38 2025-12-01 08:58:17.684000+00:00
1  019ad922-8955-775f-bfd1-c217b6430c3f 2025-12-01 08:58:17.684000+00:00
2  019ad922-8957-72c5-a05c-509042fc6645 2025-12-01 08:58:17.684000+00:00
3  019ad922-8957-7782-9aa9-4a3a49a4b775 2025-12-01 08:58:17.684000+00:00
4  019ad922-8957-7ea7-a9b2-db427fc26966 2025-12-01 08:58:17.684000+00:00

                   _airbyte_meta  _airbyte_generation_id TC_ABB00  \
0  {'sync_id': 3, 'changes': []}                       1       00
1  {'sync_id': 3, 'changes': []}                       1       00
2  {'sync_id': 3, 'changes': []}                       1       00
3  {'sync_id': 3, 'changes': []}                       1       00
4  {'sync_id': 3, 'changes': []}                       1       00

         TC_ABB01  TC_ABB02     TC_ABB07 TC_ABB08 TC_ABB24  TC_ABB25  \
0  V701-250409072       1.0   10663206.0     None     None       NaN
1  V701-250410017       1.0    5502518.0     None     None       NaN
2  V701-250410017       2.0  350157433.0     None     None       NaN
3  V701-250410039       1.0   24000000.0     None     None       NaN
4  V701-250409072       2.0   17955758.0     None     None       NaN

     TC_ABB07F TC_ABB081 TC_ABB03_1 TC_ABB03_2 TC_ABBACTI
0  10663206.00      None    3351003    3312001       None
1         0.00      None    6357001    1122018       None
2     13681.86      None    3311002    1122018       None
3  24000000.00      None    1331001    3313001       None
4  17955758.00      None    3351003    6417038       None

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _airbyte_raw_id         54 non-null     object
 1   _airbyte_extracted_at   54 non-null     datetime64[ms, UTC]
 2   _airbyte_meta           54 non-null     object
 3   _airbyte_generation_id  54 non-null     int64
 4   TC_ABB00                54 non-null     object
 5   TC_ABB01                54 non-null     object
 6   TC_ABB02                54 non-null     float64
 7   TC_ABB07                54 non-null     float64
 8   TC_ABB08                0 non-null      object
 9   TC_ABB24                0 non-null      object
 10  TC_ABB25                0 non-null      float64
 11  TC_ABB07F               54 non-null     float64
 12  TC_ABB081               0 non-null      object
 13  TC_ABB03_1              54 non-null     object
 14  TC_ABB03_2              54 non-null     object
 15  TC_ABBACTI              0 non-null      object
dtypes: datetime64[ms, UTC](1), float64(4), int64(1), object(10)
memory usage: 6.9+ KB

In [10]:
df = pd.read_parquet(path="./2025_12_01_1764579501178_0.parquet")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _airbyte_raw_id         54 non-null     object
 1   _airbyte_extracted_at   54 non-null     datetime64[ms, UTC]
 2   _airbyte_meta           54 non-null     object
 3   _airbyte_generation_id  54 non-null     int64
 4   TC_ABB00                54 non-null     object
 5   TC_ABB01                54 non-null     object
 6   TC_ABB02                54 non-null     float64
 7   TC_ABB07                54 non-null     float64
 8   TC_ABB08                0 non-null      object
 9   TC_ABB24                0 non-null      object
 10  TC_ABB25                0 non-null      float64
 11  TC_ABB07F               54 non-null     float64
 12  TC_ABB081               0 non-null      object
 13  TC_ABB03_1              54 non-null     object
 14  TC_ABB03_2              54 non-null     object
 15  TC_ABBACTI              0 non-null      object
dtypes: datetime64[ms, UTC](1), float64(4), int64(1), object(10)
memory usage: 6.9+ KB

In [14]:
df.shape[0]

54

In [15]:
df.shape[1]

16

In [17]:
df.columns

Index(['_airbyte_raw_id', '_airbyte_extracted_at', '_airbyte_meta',
       '_airbyte_generation_id', 'TC_ABB00', 'TC_ABB01', 'TC_ABB02',
       'TC_ABB07', 'TC_ABB08', 'TC_ABB24', 'TC_ABB25', 'TC_ABB07F',
       'TC_ABB081', 'TC_ABB03_1', 'TC_ABB03_2', 'TC_ABBACTI'],
      dtype='object')